@use '../../sass/style.scss' as *;

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 69px 30px;
  margin: 80px 0 0;

  @include breakpoint-down(large) {
    margin: 60px 0 0;
    gap: 60px 20px;
  }
}
