@use './colors.scss' as *;
@use '../utils/brekpoints.scss' as *;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: $white;
  background-color: $black;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

fieldset {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin-inline: auto;
}

.main {
  padding-inline: 32px;

  @include breakpoint-down(small) {
    padding-inline: 16px;
  }
}
