@use '../../sass/style.scss' as *;

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    color: $white;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.444px;
    cursor: pointer;
  }

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: 20px;

    button {
      font-size: 24px;
    }
  }
}

.linksList {
  display: flex;
  align-items: center;
  gap: 32px;

  @include breakpoint-down(small) {
    gap: 25px;
  }
}

.linksList__icon {
  @include hover(color);
  display: block;
  color: $white;
  width: 26px;
  height: 26px;

  @include breakpoint-down(small) {
    width: 20px;
    height: 20px;
  }
}
