@use '../../../sass/style.scss' as *;

.projectWrapper {
  height: 100%;
}

.project {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    @include button();
  }
}

.project__image {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;

  @include breakpoint-up(large) {
    &::before {
      content: '';
      position: absolute;
      display: block;
      inset: 0;
      z-index: 1;
      background-color: $black;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: transform 200ms ease-in-out;
  }
}

.project__image--focused {
  &::before {
    opacity: 0.75;
  }

  img {
    transform: scale(1.05);
  }

  .project__links--desktop {
    opacity: 1;
    top: 50%;
  }
}

.project__links--desktop {
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 48px;
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    top 200ms ease-in-out;

  @include breakpoint-down(large) {
    display: none;
  }
}

.project__links--mobile {
  display: none;

  @include breakpoint-down(large) {
    display: flex;
    gap: 32px;
    margin: 20px 0 0;
  }
}

.project__name {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 20px 0 0;
}

.project__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 7px 18px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin: 7px 0 0;

  li {
    opacity: 0.7;
  }
}

.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.project__description {
  position: absolute;
  z-index: 9;
  inset: 0;
  background-color: hsla(0, 0%, 8%, 0.75);
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    visibility 200ms ease-in-out;

  p {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    padding: 40px;
    height: 100%;
    overflow: auto;
    text-align: center;
  }

  @include breakpoint-down(large) {
    p {
      padding: 20px;
    }
  }

  @include breakpoint-down(small) {
    p {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.project__description--show {
  visibility: visible;
  opacity: 1;
}

.project__showDescription {
  display: block;
  align-self: flex-end;
  color: $white;
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $green;
  }

  svg {
    display: block;
    width: 28px;
    height: 28px;
  }
}

.project__showDescription--active {
  color: $green;
}
