@use '../../sass/style.scss' as *;

.headerWrapper {
  position: absolute;
  width: 100%;
  top: 38px;
  z-index: 99;
  padding-inline: 30px;

  @include breakpoint-down(large) {
    top: 30px;
  }

  @include breakpoint-down(medium) {
    top: 20px;
  }
}

.header {
  max-width: 1110px;
  width: 100%;
  margin-inline: auto;

  ul {
    padding: 0 29px 0 0;

    @include breakpoint-down(xLarge) {
      padding: 0;
    }
  }
}
