@use '../../sass/style.scss' as *;

.headerWrapper {
  position: absolute;
  width: 100%;
  top: 38px;
  z-index: 99;
  padding-inline: 30px;

  @include breakpoint-down(large) {
    top: 30px;
  }

  @include breakpoint-down(medium) {
    top: 20px;
  }
}

.header {
  max-width: 1110px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.444px;
  }

  ul {
    padding: 0 29px 0 0;

    @include breakpoint-down(xLarge) {
      padding: 0;
    }
  }

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: 20px;

    strong {
      font-size: 24px;
    }
  }
}
