@use '../../../sass/style.scss' as *;

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input {
  position: relative;

  label {
    display: none;
  }

  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: $lightGrey;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input,
  textarea {
    display: block;
    background-color: transparent;
    color: $white;
    border: none;
    border-bottom: 1px solid $white;
    padding: 0 24px 17px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:invalid:not(:placeholder-shown) {
      border-bottom: 1px solid $red;

      + .input__error {
        &::before {
          display: block;
        }

        &::after {
          display: block;
        }
      }
    }

    &:valid {
      border-bottom: 1px solid $green;
    }
  }

  textarea {
    resize: vertical;
    min-height: 107px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }
  }
}

.input__error {
  &::before {
    content: ('Sorry, invalid format here');
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    font-size: 12px;
    letter-spacing: -0.17px;
    color: $red;
  }

  &::after {
    content: (url('../../../assets/images/error-icon.svg'));
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.form__button {
  margin: 32px 0 0;
  text-align: end;

  button {
    @include button();

    &:disabled {
      animation: loading 800ms ease-in-out infinite alternate;
      pointer-events: none;
      transition: none;

      &::after {
        background-color: $lightGrey;
      }
    }
  }
}

@keyframes loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.3;
  }
}
