@use '../utils/brekpoints.scss' as *;
@use '../globals/colors.scss' as *;
@use '../utils/mixins.scss' as *;

.container {
  max-width: 1110px;
  margin-inline: auto;
}

.main {
  padding-inline: 32px;

  @include breakpoint-down(small) {
    padding-inline: 16px;
  }
}

.button {
  position: relative;
  display: inline-block;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  text-transform: uppercase;
  padding: 0 0 10px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green;
  }

  @include hover(color);
}

.heading {
  margin: 0;
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
  letter-spacing: -2.5px;

  @include breakpoint-down(xLarge) {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2px;
  }

  @include breakpoint-down(medium) {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.1px;
  }
}
